* {
  margin: 0;
  padding: 0;
}

html, body {
  overflow-x: hidden;
}

.color-index {
  color: #699A4B !important;
}

.color-text {
  color: #6D6D6D !important;
}

.font14 {
  font-size: 14px;
}

.font20 {
  font-size: 20px;
}

.font-san {
  font-family: "Source Sans Pro", sans-serif;
}

.font-muli {
  font-family: "Mulish", sans-serif;
}

.font-monter {
  font-family: "Montserrat", sans-serif;
}

.font-bold {
  font-weight: bold;
}

.font-w500 {
  font-weight: 500;
}

.font16 {
  font-size: 16px;
}

.upper {
  text-transform: uppercase;
}

.font32 {
  font-size: 32px !important;
}

.relative {
  position: relative;
}

.deg-bg-nav {
  background-color: white;
}

.deg-bg-nav .deg-ctn-nav {
  position: relative;
}

.deg-bg-nav .deg-ctn-nav:after {
  content: "";
  height: 1px;
  width: 100%;
  position: absolute;
  bottom: -15px;
  left: 0;
  background-color: #e3dede;
}

.deg-bg-nav .navbar-toggler {
  outline: none;
}

.deg-bg-nav .navbar-toggler div {
  width: 24px;
  height: 2px;
  background-color: #699A4B !important;
  margin: 6px;
  transition-duration: 0.4s;
}

.deg-bg-nav .navbar-toggler .d2 {
  opacity: 1;
}

.deg-bg-nav .deg-nav-close .d1 {
  transform: rotate(45deg) translate(5px, 5px);
}

.deg-bg-nav .deg-nav-close .d2 {
  opacity: 0 !important;
}

.deg-bg-nav .deg-nav-close .d3 {
  transform: rotate(-45deg) translate(5px, -5px);
}

.deg-bg-nav .deg-nav nav {
  padding: 29px 0px 14px;
}

.deg-bg-nav .deg-nav .test-logo {
  max-width: 200px;
  position: absolute;
  bottom: 7px;
}

.deg-bg-nav .deg-nav ul li {
  padding-right: 39px;
}

.deg-bg-nav .deg-nav ul li a {
  color: black !important;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
}

.deg-bg-nav .deg-nav ul li a:hover {
  color: #699A4B !important;
}

.deg-bg-nav .deg-nav ul li .test-search {
  position: absolute;
  top: 60%;
  transform: translateY(-50%);
}

.deg-bg-nav .deg-nav ul li .test-search:hover {
  transform: translateY(-50%) scale(1.08);
}

.deg-bg-nav .deg-nav ul li.active a {
  color: #699A4B !important;
}

.duan {
  padding-top: 97px;
  padding-bottom: 97px;
  background-color: #FBFBFB;
  overflow: hidden;
}

.duan .row-header {
  padding-top: 50px;
}

.duan .row-header .deg-block-left-trenghe h4 {
  font-size: 44px !important;
}

.duan .row-header .des-trenghe {
  padding-top: 4px;
}

.duan .row-header .des-trenghe p {
  font-size: 16px;
  line-height: 24px;
  font-style: normal;
  font-weight: normal;
  color: #7A7A7B;
}

.duan .row-header .header-img-trenghe img {
  transform: translateX(-126px);
}

.show-home {
  padding-bottom: 192px;
}

.show-home .block-filter {
  background-color: #EDF9E6;
  padding: 18px 25px 0px;
  position: relative;
  top: -37px;
  border-radius: 5px;
}

.show-home .block-filter .action {
  display: flex;
  justify-content: space-between;
}

.show-home .block-filter .action .text-left {
  transform: translateY(6px);
}

.show-home .block-filter .action .action-right {
  display: flex;
}

.show-home .block-filter .action .action-right .input-group-text {
  background-color: white;
  border-right: 0px;
}

.show-home .block-filter .action .action-right select {
  padding-left: 37px;
  border-radius: 20px;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: 10% center;
  font-size: 14px;
}

.home-block {
  margin-top: 30px;
  padding: 3px;
}

.home-block:hover {
  border: 1px solid #699A4B;
  box-sizing: border-box;
  cursor: pointer;
}

.home-block .home-detail {
  padding: 24px 16px 38px !important;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0px 0px 15px 0px #dfdfdf;
}

.home-block .home-detail .home-des {
  padding-top: 10px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  color: #616161;
}

.banner-contact {
  padding: 80px 0px 0px;
  background-color: #699A4B;
  color: white;
}

.banner-contact .btn-contact-now {
  width: 150px;
  float: right;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.banner-contact .img-contact-now {
  position: relative;
}

.banner-contact .img-contact-now .img-abs {
  position: absolute;
  top: 0;
  left: 0;
}

.footer {
  background-color: #F8F8F8;
  padding-top: 153px;
  padding-bottom: 100px;
}

.footer .footer-logo {
  max-width: 200px;
  padding-bottom: 12px;
}

.footer .footer-contact-icon {
  padding-top: 45px;
  display: flex;
}

.footer .footer-contact-icon .ft-bl {
  width: 32px;
}

.footer .footer-menu ul {
  padding: 16px 0px 0px !important;
}

.footer .footer-menu ul li {
  list-style: none;
  padding-bottom: 14px;
}

.footer .footer-menu ul li a {
  color: #6D6D6D;
}

.footer .register-email {
  padding-top: 16px;
}

.footer .register-email ::placeholder {
  color: #6D6D6D;
  font-size: 14px;
  font-weight: 500;
  font-family: "Source Sans Pro", sans-serif;
}

.footer .register-email input {
  border-radius: 20px;
  width: 210px;
}

.footer .register-email .btn.btn-cus {
  border-radius: 20px !important;
  background-color: #699A4B !important;
  color: white !important;
  padding-left: 20px !important;
  padding-right: 20px !important;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: bold;
}

.footer .register-email .btn.btn-cus:hover {
  transform: scale(1.06);
}

.copyright {
  background-color: white;
  padding: 7px 0px;
}

@media only screen and (max-width: 767px) {
  .show-home .block-filter .action {
    display: unset;
    justify-content: space-between;
  }
  .show-home .block-filter .action .text-left {
    padding-bottom: 15px;
  }
}

@media only screen and (max-width: 1023px) {
  .deg-bg-nav .navbar-toggler {
    transform: translateY(4px);
  }
  .deg-bg-nav .deg-nav nav {
    padding: 20px 15px 10px;
  }
  .deg-bg-nav .deg-nav .test-logo {
    max-width: 200px;
    position: relative;
    bottom: unset;
  }
  .deg-bg-nav .deg-nav ul {
    padding: 15px 4px;
  }
  .deg-bg-nav .deg-nav ul li {
    padding-right: 39px;
  }
  .deg-bg-nav .deg-nav ul li a {
    color: black !important;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
  }
  .deg-bg-nav .deg-nav ul li .test-search {
    position: relative;
    top: unset;
    transform: unset;
  }
  .banner-contact {
    padding: 80px 0px 0px;
    background-color: #699A4B;
    color: white;
  }
  .banner-contact .btn-contact-now {
    width: 150px;
    float: left;
    left: 0;
    position: unset;
    right: unset;
    top: unset;
    transform: unset;
  }
  .banner-contact .img-contact-now {
    position: relative;
  }
  .banner-contact .img-contact-now img {
    width: 100%;
  }
  .banner-contact .img-contact-now .img-abs {
    position: absolute;
    top: 0;
    left: 0;
  }
}

/*// Small devices (landscape phones, 576px and up)*/
/*// Medium devices (tablets, 768px and up)*/
/*// Large devices (desktops, 992px and up)*/
/*// Extra large devices (large desktops, 1200px and up)*/
@media only screen and (min-width: 1200px) {
  /* Code here*/
}
